:root{
    --principal-color: #C70039;
    --bacgroud-nav:#212529;
    --degradado-banner:#5e182f;
    --color-texto:#f8f9fa
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #212529;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #979797;
}
  
.bg-dark-trans{
    background-color: transparent;
}
#icon-page{

    width: 45px;
    height: 45px;
}
#navbarSupportedContent ul li :hover{
    border-bottom: solid 2px var(--principal-color);
    color: var(--principal-color);
}

.banner{
    width: 100%;
    margin-top: 61px;
    height: calc(100vh - 61px);
    background: linear-gradient(to bottom, #212529  20%, #C70039 120% );
    position: relative;
    overflow: hidden;
}
#banner-cont{
    height: 100%;
}
.heigh-b{
    height: 100%;
}
#des-cont{
    align-items:center ;
}


#descripcion .col-12 span{
    color: #f8f9fa;
    font-size: 35px;
    font-weight: 500;
    align-self: center;
    /* background-color: #751231;
    box-shadow: 9px 8px 1px 1px #5e182f; */
}

#container-about-me{
    position: relative;
    background-color: #212529;
    height: 100vh;
    background: linear-gradient(to top,  #f8f9fa 30%, #212529 90% );
    overflow: hidden;
}

p{
    color: #f8f9fa;
}
h5{
    color: #f8f9fa;
}
#container-about-me .card-blak{
    box-shadow: 0px 0px 5px 5px black ;
}
#container-about-me .container{
    height: 60%;
    margin-top:20%  ;
    margin-bottom: 20%;
    
}
#container-about-me .titles-seccions span{
    color: #f8f9fa;
    font-size: 35px;
    font-weight: 500;
    background-color: #751231;
    box-shadow: 9px 8px 1px 1px #5e182f;
    
}





#title-technologies span{
    color: #f8f9fa;
    font-size: 35px;
    font-weight: 500;
    background-color: #751231;
    box-shadow: 9px 8px 1px 1px #5e182f;
}

#tecnologies-learning-table .row .col{
    background-color: yellowgreen;
}
/* #technologies-learning .back-blak{
    background-color:  var(--bacgroud-nav);
    align-items: center;
}

#technologies-learning .back-blak img{
    height: 100px;
    width: 100px;

} */